<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
    body {background-image:url(http://seopic.699pic.com/photo/50076/9799.jpg_wh1200.jpg);
        background-repeat: no-repeat;
        background-size: cover;}
        img{ position:absolute; left:1280px; top:550px; }
    </style>
    <script src="angular.min.js"></script>     
</head>
<body><div data-ng-app="" data-ng-init="ns=1;ns1=1;qxb=1;qxg=1">  
    <center id="te">
    <h1>浑河堡基督教会小组周报  (李洋) </h1>
    <table border="1"cellspacing="0">
        <tr>
            <th width="100">组长姓名</th>
            <td width="100"></td>
            <td width="150"colspan="2">接待家庭</td>
            <th width="100">报表日期</th>
            <td width="200"colspan="2"></td>
        </tr>
        <tr>
            <th width="100">司会</th>
            <td width="100"></td>
            <td>领诗</td><th>分享</th>
            <td width="100"></td>
            <td width="130">代祷</td><td width="70"rowspan"2"></td>
        </tr>
        <tr>
            <th>出席</th>
            <td width="200x">男：<input tupe="number"max="5"min=“0”
                style="BACKGROUND-COLOR:transparent;border:0"ng-model="ns">
                女：<input tupe="number"
                max="5"min="0" style="BACKGROUND-COLOR:transparent;border:0"ng-model="ns1"
                style="font-size:0px" ng-model="ns1">
            </td><td>合计：{{ns+ns1}}</tb>
                <th>缺席</th>
                <td width="180x">男：<input tupe="number"max="5"min=“0”
                    style="BACKGROUND-COLOR:transparent;border:0"ng-model="qxb">
                    女：<input tupe="number"
                    max="5"min="0" style="BACKGROUND-COLOR:transparent;border:0"ng-model="qxg"
                    style="font-size:0px" ng-model="qxg">
                </td>
                <td></td>
                    <td>合计：{{qxb+qxg}}</tb>
        </tr>
        <tr>
        <th height=“30”> 主要经文</th>
        <td colspan="2">
            <input style="BACKGROUND-COLOR:transparent;border:0" size="34">
        </td>
        <th BACKGROUND-COLOR:transparent;>讲道题目</th>
        <td colspan="3">
            <input type="text" style="BACKGROUND-COLOR:transparent;border:0" size="50">
        </td>
        </tr>
        <tr>
            <td rowspan=”1“ style="text-align:center" height="30">组员姓名</td>
            <td colspan="5" style="text-allgn:center">组员分享，主日和小组缺席的原因，
                特殊祷告题目，探访，新家
            <dr>族认领，服侍情况，外来访客，需要教会支持事项，合理化建议，有什么就写</dr>
            么
        </td>
        <td width="120" style="tetx-align:center">胎信徒待告</td>
        </tr>
        <tr>
            <td height="30">
                <input type="text" style="border:0px;background:none;">
            </td>
            <td colspan="5">
                <input type="text" style="border:0px;background:none;" size="90">
            </td>
            <td>
                <input type="text" style="BACKGROUND-COLOR:transparent;border:0">
            </td>
        </tr>
        <tr>
            <td height="30">
                <input type="text" style="border:0px;background:none;">
            </td>
            <td colspan="5">
                <input type="text" style="border:0px;background:none;" size="90">
            </td>
            <td>
                <input type="text" style="BACKGROUND-COLOR:transparent;border:0">
            </td>
        </tr>
        <tr>
            <td height="30">
                <input type="text" style="border:0px;background:none;">
            </td>
            <td colspan="5">
                <input type="text" style="border:0px;background:none;" size="90">
            </td>
            <td>
                <input type="text" style="BACKGROUND-COLOR:transparent;border:0">
            </td>
        </tr>
        <tr>
            <td height="30">
                <input type="text" style="border:0px;background:none;">
            </td>
            <td colspan="5">
                <input type="text" style="border:0px;background:none;" size="90">
            </td>
            <td>
                <input type="text" style="BACKGROUND-COLOR:transparent;border:0">
            </td>
        </tr>
        <tr>
            <td height="30">
                <input type="text" style="border:0px;background:none;">
            </td>
            <td colspan="5">
                <input type="text" style="border:0px;background:none;" size="90">
            </td>
            <td>
                <input type="text" style="BACKGROUND-COLOR:transparent;border:0">
            </td>
        </tr>
        <tr>
            <td height="30">
                <input type="text" style="border:0px;background:none;">
            </td>
            <td colspan="5">
                <input type="text" style="border:0px;background:none;" size="90">
            </td>
            <td>
                 <input type="text" style="BACKGROUND-COLOR:transparent;border:0">
            </td>
        </tr>
        <tr>
                <td height="30">
                    <input type="text" style="border:0px;background:none;">
                </td>
                <td colspan="5">
                    <input type="text" style="border:0px;background:none;" size="90">
                </td>
                <td>
                    <input type="text" style="BACKGROUND-COLOR:transparent;border:0">
                </td>
        </tr>
        <tr>
                <td height="30">
                    <input type="text" style="border:0px;background:none;">
                </td>
                <td colspan="5">
                    <input type="text" style="border:0px;background:none;" size="90">
                </td>
                <td>
                    <input type="text" style="BACKGROUND-COLOR:transparent;border:0">
                </td>
        </tr>
        <tr>
                <td height="30">落户胎信徒</td>
                    <input type="text" style="border:0px;background:none;">
                </td>
                <td colspan="5">
                    <input type="text" style="border:0px;background:none;" size="90">
                </td>
                <td>
                    <input type="text" style="BACKGROUND-COLOR:transparent;border:0">
                </td>
        </tr>
        <tr>
            <td height="30">减员原因</td>
            <td colspan="6">
                <span style="margin-right:30px;">
                    搬家
                    <input type="checkbox" name="yuantin" value="banjia">
                </span>
                <span style="margin-ringht:30px;">
                    回天家
                    <input type="checkbox" name="yuanyin" value="huitlanjia">
                </span>
                <span style="margin-ringht:30px;">
                    异端邪教
                    <input type="checkbox" name="yuanyin" value="yiduanxiejiao">
                 </span>
                 <span style="margin-ringht:30px;">
                    人际关系
                    <input type="checkbox" name="yuanyin" value="renjiguanxi">
                 </span>
                其他原因
                <input type="checkbox" name="qita">
                </td>
            </td>
        </tr>
        <tr>
            <td colspan="7" height="30">
                分区长签名
                <input type="text" style="border:0px;background:none;">
                <span style="margin-right:110px;">
                   日期
                <input type="date" name="bday" max="1979-12-31" 
                style="border:0px;background:none;">
                </span>
                备注
                <input type="text" style="border:0px;background:none;" size="55">
            </td>
        </tr>
        <tr>
                <td colspan="7" height="30">
                    区牧签名
                    <input type="text" style="border:0px;background:none;">
                    <span style="margin-right:110px;">
                       日期
                    <input type="date" name="bday" max="1979-12-31" 
                    style="border:0px;background:none;">
                    </span>
                    备注
                    <input type="text" style="border:0px;background:none;" size="55">
                </td>
        </tr>
        <tr>
                <td colspan="7" height="30">
                    总区牧签名
                    <input type="text" style="border:0px;background:none;">
                    <span style="margin-right:110px;">
                       日期
                    <input type="date" name="bday" max="1979-12-31" 
                    style="border:0px;background:none;">
                    </span>
                    备注
                    <input type="text" style="border:0px;background:none;" size="55">
                </td>
        </tr>
        <tr>
                <td colspan="7" height="30">
                    主任牧师签名
                    <input type="text" style="border:0px;background:none;">
                    <span style="margin-right:110px;">
                       日期
                    <input type="date" name="bday" max="1979-12-31" 
                    style="border:0px;background:none;">
                    </span>
                    备注
                    <input type="text" style="border:0px;background:none;" size="55">
                </td>
            </tr>
    </table>
</center>
</div>
</body>
</html>